<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <beans profile="HSQLDB">

        <context:property-placeholder location="classpath:db/hsqldb.properties"/>

        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="${database.driver}"/>
            <property name="url" value="jdbc:hsqldb:mem:dataSource"/>
            <property name="username" value="${database.username}"/>
            <property name="password" value="${database.password}"/>
        </bean>
    </beans>


    <beans profile="PostgreSQL">

        <context:property-placeholder location="classpath:db/postgres.properties"/>

        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="${database.driver}"/>
            <property name="url" value="${database.url}"/>
            <property name="username" value="${database.username}"/>
            <property name="password" value="${database.password}"/>
        </bean>
    </beans>


    <beans profile="Jpa">

        <bean id="provider" class="org.hibernate.jpa.HibernatePersistenceProvider"/>
        <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
            <property name="dataSource" ref="dataSource"/>
            <property name="packagesToScan" value="com.cryptoeagle.entity"/>
            <property name="persistenceProvider" ref="provider"/>
            <property name="jpaPropertyMap">
                <map>
                    <entry key="hibernate.dialect" value="${database.dialect}"/>
                    <entry key="hibernate.hbm2ddl.auto" value="create"/>
                    <entry key="hibernate.format_sql" value="true"/>
                    <entry key="hibernate.show_sql" value="false"/>
                    <entry key="hibernate.enable_lazy_load_no_trans" value="true"/>
                </map>
            </property>
        </bean>

        <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
            <property name="entityManagerFactory" ref="entityManagerFactory"/>
        </bean>

        <context:component-scan base-package="com.cryptoeagle.repository.jpa"/>

    </beans>
</beans>